<div class="form-login">

<h1 class="sign-up text-white">New Album</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.album_path(@conn, :create)) %>

<span><%= link "Back", class: "btn btn-outline-white float-right", to: Routes.album_path(@conn, :index) %></span>
</div>
